<div id="wrapper">
<div class="parallax" style="background-image: url(assets/images/homepage1.png);">
    <div class="info">
        <h2 data-in-effect="none">About us</h2>
    </div>
</div>
<!-- /parallax -->

<h3 class="text-center" style="margin-top: 170px; margin-bottom: 5px;">WHO WE ARE ?</h3>

  <div class="container">
    <div class="row">

        <div class="col-md-6" style="margin-top:65px;">
            <p>Welcome to our art canvas print and decor business! We specialize in creating beautiful, high-quality canvas prints of original artwork. From stunning landscapes to abstract masterpieces, we have a wide selection of art to choose from.

                Our canvases are printed on the highest quality materials and are available in a variety of sizes to fit any space. They are also UV resistant and fade resistant, ensuring that your print will look great for years to come.
                
                In addition to canvas prints, we also offer a variety of home decor items to help you complete the look of your space. From throw pillows to wall hangings, we have something to suit every style.
                
                
            </p>

            <p>Our team of talented artists and designers is dedicated to creating unique and eye-catching pieces that will add a touch of beauty and elegance to any room. Whether you're looking for a statement piece for your living room or a thoughtful gift for a loved one, we have something for everyone.
                
                We pride ourselves on our excellent customer service and attention to detail. We work closely with our clients to ensure that they are completely satisfied with their purchase.
                
                Thank you for visiting our website. We hope you find something that you love, and we look forward to helping you add a touch of beauty to your home</p>
        </div>
    </div>