<div id="wrapper">

    <div class="container">
       <div class="row">
    
          <div class="col-md-7">
             <div class="gallery-projects one">
                <div class="overlay-box">
                   <a href="assets/Creatives/kob5.png" title="Hidden Rose" class="showcase" data-rel="lightcase:gallery">
                   <img src="assets/Creatives/kob5.png" alt="Hidden Rose" style="width: 700px;">
                   </a>
                </div>
             </div>
          </div>
    
          <div class="col-md-5 single-project">
             <h4 class="title-project">Hidden Rose by Joseph Awumee</h4>
             <p>"Hidden Rose" is a photograph that captures the complexity of human emotions and relationships in a timeless and thought-provoking way. The photograph features a man in monochrome facing backwards, with a rose in his hands behind him. The photograph, taken at an unknown location, highlights the subtle nuances of human emotions and the hidden nature of love and relationships.</p>
             <p>The photograph is a black and white image, which gives it a timeless and classic feel. The monochrome tones also emphasize the contrast between light and dark, which adds depth to the photograph and helps to create a sense of movement and emotion. The subject of the photograph, a man, is positioned in a way that suggests a sense of contemplation and introspection. The rose in his hands, which is hidden behind him, adds a symbolic layer to the photograph, representing the hidden nature of love and relationships.</p>
             <p>The photograph captures the complexity of human emotions and relationships. The subject's contemplative and introspective posture suggests that he may be reflecting on a past relationship or a current one. The hidden rose in his hands further adds to this complexity, as it suggests that there may be hidden emotions or feelings that are not immediately apparent. The photograph is a reminder that relationships and emotions are not always straightforward and easy to understand.</p>

             <div class="project-details">
                <h4>Project details</h4>
                <h5>Author</h5>
                <p>Joseph Awumee </p>

               
                <h5>Project date</h5>
                <p>07 May 2021</p>
                <h5>Project location</h5>
                <p>Accra, Ghana</p>
                <h5>Share</h5>
                <ul class="share-icons">
                    <!-- TWITTER -->
                    <li>
                       <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <!-- FACEBOOK -->
                    <li>
                       <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <!-- PINTEREST -->
                    <li>
                       <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                    <!-- LINKEDIN -->
                    <li>
                       <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <!-- REDDIT -->
                    <li>
                       <a href="#"><i class="fa-brands fa-reddit"></i></a>
                    </li>
                 </ul>
             </div>
          </div>
       </div>
       <!-- NAVIGATION -->
       <div class="portfolio-single-nav">
          <div class="single-navigation">
             <div class="next-button"><a href="portfolio-single-2.html" class="single-link-nav">Next project<i class="fa fa-angle-right"></i></a></div>
          </div>
       </div>
       <!-- END NAVIGATION -->
    </div>
    
    </div>