<div id="wrapper">

    <div class="container">
       <div class="row">
    
          <div class="col-md-7">
             <div class="gallery-projects one">
                <div class="overlay-box">
                   <a href="assets/Creatives/world2.png" title="Monochrome Labour" class="showcase" data-rel="lightcase:gallery">
                   <img src="assets/Creatives/world2.png" alt="Monochrome Labour" style="width: 700px;">
                   </a>
                </div>
             </div>
          </div>
    
          <div class="col-md-5 single-project">
             <h4 class="title-project">Monochrome Labour by WorldBeater </h4>
             <p>CMonochrome Labour" is a photograph that captures the hardworking spirit of manual labourers in a black and white, timeless image. The photograph showcases the grit, determination and strength of the workers. The photograph, taken at an unknown location, captures the monotony and repetition of the manual labor, but at the same time the photograph also showcases the pride and sense of purpose of the workers</p>

             <p>The photograph is a black and white image, which gives it a timeless and classic feel. The black and white tones also emphasize the contrast between light and dark, which adds depth to the photograph and helps to create a sense of movement and energy. The photograph captures a group of manual labourers working together on a construction site. The workers are dressed in dirty, worn clothing, and their faces are obscured by the shadows cast by their hard hats</p>

             <p>The photograph captures the hardworking spirit of the manual labourers. The workers are shown working together as a team, with each individual focused on their task. The photograph also captures the repetitive and monotonous nature of manual labor. The workers are shown performing the same task over and over again, which is a reminder of the hard work and dedication required to complete a construction project. Despite the monotony and repetition of the work, the photograph also showcases the pride and sense of purpose of the workers. They are shown working together as a team, with each individual focused on their task, which is a testament to their dedication to their craft</p>

             <div class="project-details">
                <h4>Project details</h4>
                <h5>Author</h5>
                <p> WorldBeater </p>

               
                <h5>Project date</h5>
                <p>02 September 2018</p>
                <h5>Project location</h5>
                <p>Accra, Ghana</p>
                <h5>Share</h5>
                <ul class="share-icons">
                    <!-- TWITTER -->
                    <li>
                       <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <!-- FACEBOOK -->
                    <li>
                       <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <!-- PINTEREST -->
                    <li>
                       <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                    <!-- LINKEDIN -->
                    <li>
                       <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <!-- REDDIT -->
                    <li>
                       <a href="#"><i class="fa-brands fa-reddit"></i></a>
                    </li>
                 </ul>
             </div>
          </div>
       </div>
       <!-- NAVIGATION -->
       <div class="portfolio-single-nav">
          <div class="single-navigation">
             <div class="next-button"><a href="portfolio-single-2.html" class="single-link-nav">Next project<i class="fa fa-angle-right"></i></a></div>
          </div>
       </div>
       <!-- END NAVIGATION -->
    </div>
    
    </div>