<div id="wrapper">

    <div class="container">
       <div class="row">
    
          <div class="col-md-7">
             <div class="gallery-projects one">
                <div class="overlay-box">
                   <a href="assets/Creatives/kob4.png" title="Tangled" class="showcase" data-rel="lightcase:gallery">
                   <img src="assets/Creatives/kob4.png" alt="Tangled" style="width: 700px;">
                   </a>
                </div>
             </div>
          </div>
    
          <div class="col-md-5 single-project">
             <h4 class="title-project">Veiled Oppression  by Joseph Awumee </h4>

             <p>The photograph "Veiled Oppression" is a powerful and thought-provoking image that depicts a man shrouded in a black veil. The veil is a symbol of oppression, covering the man's face and hiding his identity. The photograph is a striking representation of the subjugation of men in many societies around the world, where they are forced to cover themselves and hide their true selves from the world.</p>

                <p>The man in the photograph is standing alone, with his head bowed and her hands clasped in front of him. His posture is one of submission and defeat, as if he has been broken by the weight of the oppression he endures. The black veil serves as a stark contrast to the white background, highlighting the darkness and oppression of her situation</p>
                
                <p> The photograph is a powerful commentary on the societal expectations placed on women in many cultures. The veil is a symbol of the patriarchal society in which men are expected to be submissive, silent, and invisible. It is a reminder of the ways in which women are marginalized and oppressed, and the ways in which they are denied the right to express themselves and live their lives as they choose</p>
          
                
             <div class="project-details">
                <h4>Project details</h4>
                <h5>Author</h5>
                <p>Joseph Awumee </p>

               
                <h5>Project date</h5>
                <p>31 December 2020</p>
                <h5>Project location</h5>
                <p>Accra, Ghana</p>
                <h5>Share</h5>
                <ul class="share-icons">
                    <!-- TWITTER -->
                    <li>
                       <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <!-- FACEBOOK -->
                    <li>
                       <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <!-- PINTEREST -->
                    <li>
                       <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                    <!-- LINKEDIN -->
                    <li>
                       <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <!-- REDDIT -->
                    <li>
                       <a href="#"><i class="fa-brands fa-reddit"></i></a>
                    </li>
                 </ul>
             </div>
          </div>
       </div>
       <!-- NAVIGATION -->
       <div class="portfolio-single-nav">
          <div class="single-navigation">
             <div class="next-button"><a href="portfolio-single-2.html" class="single-link-nav">Next project<i class="fa fa-angle-right"></i></a></div>
          </div>
       </div>
       <!-- END NAVIGATION -->
    </div>
    
    