<footer>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

      <!-- social icons -->
      <div class="social-icons">
            
        <ul>
          <li><a href="#">Twitter</a></li>
          <li><a href="https://www.facebook.com/LaJesCollection?mibextid=LQQJ4d">Facebook</a></li>
          <li><a href="https://instagram.com/touchesandglamour?igshid=YmMyMTA2M2Y=">Instagram</a></li>
    
        </ul>

      </div>
      <!-- /social icons -->  

      <!-- copyright -->
      <div class="copyright">
      Touches & Glamour © 2023. Finding your identity through Art and Decor <a href='http://themeforest.net/user/Mountain-Themes' target='_blank'> </a>
      </div>
      <!-- /copyright -->

     </div>
    </div>
  </div>

</footer>
<!-- /footer -->