<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

         <!-- logo -->
         <div class="logo"><a routerLink="home" > <img src="assets/images/logoTandG.png" alt="Touches & Glamour "> </a></div>
         <!-- /logo -->

         <!-- shop cart -->
         <div class="cart-container">
            <div class="icon-cart">
              <i class="icon-ecommerce-bag"></i>
              <span class="cart-count">0</span> 
            </div>
            
         </div>
         <!-- /shop cart -->

         <!-- navigation -->
         <nav>

            <div id="glacier_menu">
                <ul>
                <li class="has-sub">
                    <a routerLink="home">
                        <span>Home</span>
                    </a>
                </li>
                <li class="has-sub">
                    <a routerLink="about">
                        <span>About</span>
                    </a>
                </li>
                <li class="has-sub">
                    <a routerLink="portfolio">
                        <span>Portfolio</span>
                    </a>
                   
                </li>
 
                <li class="has-sub">
                    <a routerLink="contact">
                        <span>Contact</span>
                    </a>
                   
                </li>
                <li class="has-sub">
                    <a routerLink="shop">
                        <span>Shop</span>
                    </a>
                </li>
                </ul>
            </div>

         </nav>
         <!-- /navigation -->


       </div>
     </div>
  </div>
</header>