<div id="wrapper">

    <div class="container">
       <div class="row">
    
          <div class="col-md-7">
             <div class="gallery-projects one">
                <div class="overlay-box">
                   <a href="assets/Creatives/Kob2.png" title="Melanin by Joseph Awumee" class="showcase" data-rel="lightcase:gallery">
                   <img src="assets/Creatives/Kob2.png" alt="Melanin" style="width: 700px;">
                   </a>
                </div>
             </div>
          </div>
    
          <div class="col-md-5 single-project">
             <h4 class="title-project">Melanin by Joseph Awumee</h4>
             <p>Melanin is a photograph that showcases the beauty and strength of the Black community in a powerful and thought-provoking way. The photograph captures a young Black man with Ghana cedi notes covering his eyes and face. The photograph, taken at an unknown location, highlights the resilience and determination of the Black community and their connection to their cultural heritage.</p>
             <p>The photograph is a striking composition that immediately catches the viewer's attention. The subject of the photograph, a young Black man, is positioned in a way that suggests a sense of determination and resilience. The Ghana cedi notes covering his eyes and face, add a symbolic layer to the photograph, representing the subject's connection to his cultural heritage and the struggles that come with it.</p>
             <p>The photograph also highlights the beauty and strength of the Black community. The subject of the photograph is shown with a sense of pride and confidence, which is a powerful message that counters the negative stereotypes and discrimination that the Black community often faces. The photograph is a reminder that the Black community is not only strong and resilient, but also beautiful and proud of their heritage.</p>
             <div class="project-details">
                <h4>Project details</h4>
                <h5>Author</h5>
                <p>Joseph Awumee </p>

               
                <h5>Project date</h5>
                <p>15 March 2021</p>
                <h5>Project location</h5>
                <p>Accra, Ghana</p>
                <h5>Share</h5>
                <ul class="share-icons">
                    <!-- TWITTER -->
                    <li>
                       <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <!-- FACEBOOK -->
                    <li>
                       <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <!-- PINTEREST -->
                    <li>
                       <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                    <!-- LINKEDIN -->
                    <li>
                       <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <!-- REDDIT -->
                    <li>
                       <a href="#"><i class="fa-brands fa-reddit"></i></a>
                    </li>
                 </ul>
             </div>
          </div>
       </div>
       <!-- NAVIGATION -->
       <div class="portfolio-single-nav">
          <div class="single-navigation">
             <div class="next-button"><a href="portfolio-single-2.html" class="single-link-nav">Next project<i class="fa fa-angle-right"></i></a></div>
          </div>
       </div>
       <!-- END NAVIGATION -->
    </div>
    
    </div>