<div id="wrapper">

    <div class="container">
       <div class="row">
    
          <div class="col-md-7">
             <div class="gallery-projects one">
                <div class="overlay-box">
                   <a href="assets/Creatives/kob6.png" title="The Chief's Guard " class="showcase" data-rel="lightcase:gallery">
                   <img src="assets/Creatives/kob6.png" alt="The Chief's Guard" style="width: 700px;">
                   </a>
                </div>
             </div>
          </div>
    
          <div class="col-md-5 single-project">
             <h4 class="title-project">The Chief's Guard by Joseph Awumee</h4>
             <p>"The Chief's Guard" is a photograph that showcases the cultural heritage and history of Africa in a striking and thought-provoking way. The photograph features an African child in traditional African clothing and gold, holding an old gun. The photograph, taken at an unknown location, highlights the connection between Africa's cultural heritage and its history of conflict and struggle.</p>
             <p>The photograph is a striking composition that immediately catches the viewer's attention. The subject of the photograph, an African child, is positioned in a way that suggests a sense of strength and determination. The traditional African clothing and gold jewelry worn by the child, add a cultural layer to the photograph, representing the rich cultural heritage of Africa. The old gun held by the child, adds a historical layer to the photograph, representing Africa's history of conflict and struggle.</p>
             <p>The photograph captures the cultural heritage and history of Africa. The traditional African clothing and gold jewelry worn by the child, are a reminder of the rich cultural heritage of Africa and its importance to the continent. The old gun held by the child, is a reminder of Africa's history of conflict and struggle, and the role that arms have played in shaping the continent's history. The photograph is a reminder that Africa's cultural heritage and history are deeply intertwined and cannot be separated.</p>
             <div class="project-details">
                <h4>Project details</h4>
                <h5>Author</h5>
                <p>Joseph Awumee </p>

               
                <h5>Project date</h5>
                <p>05 June 2021 </p>
                <h5>Project location</h5>
                <p>Accra, Ghana</p>
                <h5>Share</h5>
                <ul class="share-icons">
                    <!-- TWITTER -->
                    <li>
                       <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <!-- FACEBOOK -->
                    <li>
                       <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <!-- PINTEREST -->
                    <li>
                       <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                    <!-- LINKEDIN -->
                    <li>
                       <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <!-- REDDIT -->
                    <li>
                       <a href="#"><i class="fa-brands fa-reddit"></i></a>
                    </li>
                 </ul>
             </div>
          </div>
       </div>
       <!-- NAVIGATION -->
       <div class="portfolio-single-nav">
          <div class="single-navigation">
             <div class="next-button"><a href="portfolio-single-2.html" class="single-link-nav">Next project<i class="fa fa-angle-right"></i></a></div>
          </div>
       </div>
       <!-- END NAVIGATION -->
    </div>
    
    </div>