<div id="wrapper">

    <div class="container">
       <div class="row">
    
          <div class="col-md-7">
             <div class="gallery-projects one">
                <div class="overlay-box">
                   <a href="assets/Creatives/world3.png" title="Rawlings Street" class="showcase" data-rel="lightcase:gallery">
                   <img src="assets/Creatives/world3.png" alt="Rawlings Street" style="width: 700px;">
                   </a>
                </div>
             </div>
          </div>
    
          <div class="col-md-5 single-project">
             <h4 class="title-project">Randoms on Rawlings Street by WorldBeater </h4>

             <p>The photograph is a snapshot of the hustle and bustle of city life, with people of all ages, races, and socioeconomic backgrounds coming together on the same street corner. The diversity of the individuals in the photograph is striking, as it showcases the melting pot of cultures and backgrounds that make up the fabric of the city. The photograph also captures the energy and movement of the city, with people walking, talking, and going about their daily lives.</p>

                <p>One of the most striking elements of the photograph is the diversity of the individuals featured in it. The photograph includes people of all ages, from young children to older adults. It also includes people of all races and ethnicities, which is reflective of the diverse population of the city. Additionally, the photograph includes people from different socioeconomic backgrounds, from those who are well-dressed and carrying briefcases, to those who are more casually dressed and carrying shopping bags.</p>
                
                <p> The photograph also captures the movement and energy of the city. The individuals in the photograph are all on the move, walking, talking, and going about their daily lives. This captures the fast-paced nature of city life and the constant movement of people and ideas. The photograph also captures the sense of community that exists in the city, with people from all walks of life coming together on the same street corner.</p>
          
                
             <div class="project-details">
                <h4>Project details</h4>
                <h5>Author</h5>
                <p>WorldBeater </p>

               
                <h5>Project date</h5>
                <p>28th August 2019</p>
                <h5>Project location</h5>
                <p>Accra, Ghana</p>
                <h5>Share</h5>
                <ul class="share-icons">    
                    <!-- TWITTER -->
                    <li>
                       <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <!-- FACEBOOK -->
                    <li>
                       <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <!-- PINTEREST -->
                    <li>
                       <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                    <!-- LINKEDIN -->
                    <li>
                       <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <!-- REDDIT -->
                    <li>
                       <a href="#"><i class="fa-brands fa-reddit"></i></a>
                    </li>
                 </ul>
             </div>
          </div>
       </div>
       <!-- NAVIGATION -->
       <div class="portfolio-single-nav">
          <div class="single-navigation">
             <div class="next-button"><a href="portfolio-single-2.html" class="single-link-nav">Next project<i class="fa fa-angle-right"></i></a></div>
          </div>
       </div>
       <!-- END NAVIGATION -->
    </div>
    
    