

<!-- wrapper -->    
<div id="wrapper">

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="product-single-image">
            <img alt="image" src="assets/images/shop-products/Divided.jpg" />
          </div>

          <div class="product-single-info">
            <h3 class="product-single-title">Intertwined Harmony </h3>
            <div class="star-rating">
                <span style="width:90%">Rated
                    <strong class="rating">4.50</strong>
                    out of 5</span>
            </div>
                <span class="shop-price">
                   <span>GHC</span>150.00
                </span>
              <p>Intertwined Harmony Matte Canvas Print| 20' by 24' </p>
                  <div class="shop-qty">
                      <button class="minus"></button>
                          <input type="number" step="1" min="1" max="50" name="quantity" value="1" title="number" size="4" class="qty">
                      <button class="plus"></button>
                  </div>
                <a class="button-product" href="#">Add to cart</a>
              
          </div>

          <div class="product-single-box">
            <h2>DESCRIPTION</h2>
            "Intertwined Harmony" is a beautiful and serene painting that captures the essence of connection and unity. The painting depicts a scene of two figures, a man and a woman, intertwined in a loving embrace. The figures are rendered in soft, warm colors and are surrounded by a lush, verdant landscape. The brushstrokes are loose and flowing, giving the painting a sense of movement and energy. The scene is bathed in a golden light, creating a feeling of warmth and intimacy. The title "Intertwined Harmony" perfectly encapsulates the sense of connection and unity that the painting conveys. It would be a perfect addition to any room in need of a touch of romance and harmony.
          </div>

          <div class="product-related-products">
            <h3 class="product-single-title">Related Products</h3>
             <div class="shop-products shopContainer columns-3">
              <div class="gutter-sizer"></div>

                    <!-- product 1 -->
                    <div class="product">
                            <a class="product-images" href="single-product.html">
                                <div class="shop-first-image">
                                    <img alt="image" src="assets/images/shop-products/cloud.jpg" />
                                </div>
                                <div class="shop-second-image">
                                    <img alt="image" src="assets/images/shop-products/cloud.jpg" />
                                </div>
                            </a>
                            <div class="shop-product-details">
                                <div class="shop-product-details-container">
                                    <h4 class="shop-product-title">
                                        <a href="single-product.html">Cloud-9</a>
                                    </h4>
                                        <div class="star-rating">
                                            <span style="width:80%">Rated
                                                <strong class="rating">4.00</strong>
                                                out of 5</span>
                                        </div>
                                        <span class="shop-price">
                                            <span>GHC</span>150.00</span>
                                      <div class="shop-button-box">
                                        <a class="button-product" href="#">Add to cart</a>
                                      </div>
                                </div>
                            </div>
                    </div>
                    <!-- /product 1 -->

                    <!-- product 2 -->
                    <div class="product">
                            <a class="product-images" href="single-product.html">
                                <div class="shop-first-image">
                                    <img alt="image" src="assets/images/shop-products/chaos.jpg" />
                                </div>
                                <div class="shop-second-image">
                                    <img alt="image" src="assets/images/shop-products/chaos.jpg" />
                                </div>
                            </a>
                            <div class="shop-product-details">
                                <div class="shop-product-details-container">
                                    <h4 class="shop-product-title">
                                        <a href="single-product.html">Chaos or Beauty</a>
                                    </h4>
                                        <div class="star-rating">
                                            <span style="width:100%">Rated
                                                <strong class="rating">5.00</strong>
                                                out of 5</span>
                                        </div>
                                        <span class="shop-price">
                                            <span>GHC</span>150</span>
                                      <div class="shop-button-box">
                                        <a class="button-product" href="#">Add to cart</a>
                                      </div>
                                </div>
                            </div>
                    </div>
                    <!-- /product 2 -->

                    <!-- product 3 -->
                    <div class="product">
                            <a class="product-images" href="single-product.html">
                                <div class="shop-first-image">
                                    <img alt="image" src="assets/images/shop-products/unspoken.jpg" />
                                </div>
                                <div class="shop-second-image">
                                    <img alt="image" src="assets/images/shop-products/unspoken.jpg" />
                                </div>
                            </a>
                            <div class="shop-product-details">
                                <div class="shop-product-details-container">
                                    <h4 class="shop-product-title">
                                        <a href="single-product.html">Unspoken Plea</a>
                                    </h4>
                                        <div class="star-rating">
                                            <span style="width:80%">Rated
                                                <strong class="rating">4.00</strong>
                                                out of 5</span>
                                        </div>
                                        <span class="shop-price">
                                            <span>GHC</span>150 </span>
                                      <div class="shop-button-box">
                                        <a class="button-product" href="#">Add to cart</a>
                                      </div>
                                </div>
                            </div>
                    </div>
                    <!-- /product 3 -->

            </div>
          </div>

          </div>

                <div class="col-md-3 glacier-padding-left">
                    <div class="sidebar">
                        <div class="sidebar-box">
                            <h1 class="sidebar-title">Product categories</h1>
                            <ul class="product-categories">
                                <li>
                                    <a href="#">Abstract</a>
                                </li>
                                <li>
                                    <a href="#">Animation</a>>
                                   </li>
                                <li>
                                    <a href="#">Original Work </a>
                                </li>
                                <li>
                                    <a href="#">Music</a>
                                </li>
                                <li>
                                    <a href="#">Illustrations</a>
                                </li>
                                <li>
                                    <a href="#">Nature </a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="sidebar-box">
                            <h1 class="sidebar-title">Top rated products</h1>
                            <ul class="sidebar-product-list">
                                <li>
                                    <a href="single-product.html">
                                        <img alt="image" src="assets/images/shop-products/hercules.jpg" />
                                        <span class="product-title">Hercules- A symbol of strength</span>
                                    </a>
                                    <div class="star-rating">
                                        <span style="width:100%">Rated
                                            <strong class="rating">5.00</strong>
                                            out of 5</span>
                                    </div>
                                    <span class="shop-price">
                                        <span>GHC</span>150</span>
                                </li>
                                <li>
                                    <a href="single-product.html">
                                        <img alt="image" src="assets/images/shop-products/cloud.jpg" />
                                        <span class="product-title">Cloud-9</span>
                                    </a>
                                    <div class="star-rating">
                                        <span style="width:93.4%">Rated
                                            <strong class="rating">4.67</strong>
                                            out of 5</span>
                                    </div>
                                    <span class="shop-price">
                                        <span>GHC</span>150 </span>
                                </li>
                                <li>
                                    <a href="single-product.html">
                                        <img alt="image" src="assets/images/shop-products/zues.jpg" />
                                        <span class="product-title">Power of Zeus</span>
                                    </a>
                                    <div class="star-rating">
                                        <span style="width:90%">Rated
                                            <strong class="rating">4.50</strong>
                                            out of 5</span>
                                    </div>
                                    <span class="shop-price">
                                        <span>GHC</span>150</span>
                                </li>
                                <li>
                                    <a href="single-product.html">
                                        <img alt="image" src="assets/images/shop-products/cube.jpeg" />
                                        <span class="product-title">Rubik's Glee </span>
                                    </a>
                                    <div class="star-rating">
                                        <span style="width:90%">Rated
                                            <strong class="rating">4.50</strong>
                                            out of 5</span>
                                    </div>
                                    <del>
                                        <span class="shop-price">
                                            <span>GHC</span>200.00</span>
                                    </del>
                                    <ins>
                                        <span class="shop-price">
                                            <span>GHC</span>150.00</span>
                                    </ins>
                                </li>
                                <li>
                                    <a href="single-product.html">
                                        <img alt="image" src="assets/images/shop-products/city.jpeg" />
                                        <span class="product-title">Chrome City</span>
                                    </a>
                                    <div class="star-rating">
                                        <span style="width:80%">Rated
                                            <strong class="rating">4.00</strong>
                                            out of 5</span>
                                    </div>
                                    <span class="shop-price">
                                        <span>GHC</span>150.00</span>
                                </li>
                            </ul>
                    </div>
                </div>
             </div>
           </div>
        </div>
</div>






<!-- Mirrored from html.mountainthemes.dev/glacier/single-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 16 Jan 2023 09:49:42 GMT -->
