<div id="wrapper">

    <!-- parallax -->
    <!-- <div class="parallax" data-jarallax-video="https://www.youtube.com/watch?v=wuVEOm8kSy4" style="background-image: url(assets/images/homepage1.png)">
        <div class="info">
            <h2 data-in-effect="none">Touches & Glamour </h2>
        </div>
    </div> -->
    <!-- /parallax -->

    <div class="container">
      <div class="row">
       <div class="col-md-12">

            <!-- filter -->
            <div class="portfolioFilter text-center">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
                <div data-filter=".branding" class="cbp-filter-item">Original Works </div>
                <div data-filter=".design" class="cbp-filter-item">Abstract</div>
                <div data-filter=".illustration" class="cbp-filter-item">Illustration</div>
            </div>
            <!-- /filter -->

           <div id="grid-mosaic" class="cbp fadeAnim">

                
                <div class="cbp-item illustration">
                    <a href="assets/Html/tangled.html">
                      <div class="image-box">
                         <img src="assets/Creatives/kob.png" alt="Tangled ">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Tangled by Joseph Awumee</h2>
                            <p>Original Works </p>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
               

                <div class="cbp-item branding illustration">
                    <a href="portfolio-single-2.html">
                      <div class="image-box">
                         <img src="assets/Creatives/Kob2.png" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Melanin by Joseph Awumee</h2>
                            <p>Original Works </p>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
            

                <div class="cbp-item design">
                    <a href="portfolio-single-3.html">
                      <div class="image-box">
                         <img src="assets/Creatives/kob3.png" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Mirrors & Gallons by Joseph Awumee</h2>
                            <p>Original Works </p>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
               

                <div class="cbp-item branding design">
                    <a href="portfolio-single-4.html">
                      <div class="image-box">
                         <img src="assets/Creatives/kob4.png" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Veiled oppression by Joseph Awumee</h2>
                            <p>Original Works </p>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
                

                <div class="cbp-item branding">
                    <a href="portfolio-single-5.html">
                      <div class="image-box">
                         <img src=" assets/Creatives/kob5.png" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Hidden Rose by Joseph Awumee</h2>
                            <p>Original Works </p>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
             

                <div class="cbp-item branding">
                    <a href="portfolio-single-1.html">
                      <div class="image-box">
                         <img src="assets/Creatives/kob6.png" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>The Chief's Guard by Joseph Awumee </h2>
                            <p>Original Works </p>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
                

                <div class="cbp-item branding">
                    <a href="portfolio-single-2.html">
                      <div class="image-box">
                         <img src="assets/Creatives/world1.png" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Castle of Beraku by WorldBeater</h2>
                            <p>Original Works </p>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
              

                <div class="cbp-item branding">
                    <a href="portfolio-single-3.html">
                      <div class="image-box">
                         <img src="assets/Creatives/world2.png" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Monochrome Labour by World WorldBeater </h2>
                            <p>Original Works </p>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
               

                <div class="cbp-item branding">
                    <a href="portfolio-single-4.html">
                      <div class="image-box">
                         <img src="assets/Creatives/world3.png" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Randoms on Rawlings Street by WorldBeater </h2>
                            <p>Original Works </p>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
     

              </div>

              <!-- <--second--> -->
              <!-- <div id="grid-mosaic" class="cbp fadeAnim">

            
                <div class="cbp-item branding illustration design">
                    <a href="portfolio-single-1.html">
                      <div class="image-box">
                         <img src="assets/images/glacierStyle/portfolio-item-1.jpg" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Cups</h2>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
               

                <div class="cbp-item illustration design">
                    <a href="portfolio-single-2.html">
                      <div class="image-box">
                         <img src="assets/images/glacierStyle/portfolio-item-2.jpg" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Cactus</h2>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
              

              
                <div class="cbp-item design">
                    <a href="portfolio-single-3.html">
                      <div class="image-box">
                         <img src="assets/images/glacierStyle/portfolio-item-3.jpg" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Dance</h2>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
                
                
               
                <div class="cbp-item illustration">
                    <a href="portfolio-single-4.html">
                      <div class="image-box">
                         <img src="assets/images/glacierStyle/portfolio-item-4.jpg" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Bottles</h2>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
          
                
               
                <div class="cbp-item branding illustration design">
                    <a href="portfolio-single-5.html">
                      <div class="image-box">
                         <img src="assets/images/glacierStyle/portfolio-item-5.jpg" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Tree</h2>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
               
                <div class="cbp-item branding">
                    <a href="portfolio-single-1.html">
                      <div class="image-box">
                         <img src="assets/images/glacierStyle/portfolio-item-6.jpg" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Dream</h2>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
              
                <div class="cbp-item branding illustration design">
                    <a href="portfolio-single-2.html">
                      <div class="image-box">
                         <img src="assets/images/glacierStyle/portfolio-item-7.jpg" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Logo</h2>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
              
                <div class="cbp-item design">
                    <a href="portfolio-single-3.html">
                      <div class="image-box">
                         <img src="assets/images/glacierStyle/portfolio-item-8.jpg" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Music album</h2>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
            
                <div class="cbp-item branding design">
                    <a href="portfolio-single-4.html">
                      <div class="image-box">
                         <img src="assets/images/glacierStyle/portfolio-item-9.jpg" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Book</h2>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
             
                <div class="cbp-item branding illustration design">
                    <a href="portfolio-single-4.html">
                      <div class="image-box">
                         <img src="assets/images/glacierStyle/portfolio-item-10.jpg" alt="">
                      </div>
                      <div class="caption-box">
                       <div class="caption-center-box">
                         <div class="caption-body">
                            <h2>Photo</h2>
                         </div>
                        </div>
                      </div>
                    </a>
                </div>
            

            </div> -->

            <!-- ajax load button -->
            <div class="load-more text-center">
                <a href="ajax-portfolio/creativeAnim.html" class="cbp-l-loadMore-link" rel="nofollow">
                    <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
                    <span class="cbp-l-loadMore-loadingText"><span class="glacier-spinner"><i></i></span>LOAD MORE</span>
                    <span class="cbp-l-loadMore-noMoreLoading">LOAD MORE</span>
                </a>
            </div>
            <!-- /ajax load button -->

      </div>
     </div>
    </div>

</div>