

    <!-- wrapper -->
    <div id="wrapper">
      <!-- parallax -->
      <div
        class="parallax"
        style="background-image: url(assets/images/homepage1.png)"
      >
        <div class="info">
          <h2 data-in-effect="fadeIn">Touches & Glamour</h2>
        </div>
      </div>
      <!-- /parallax -->

     
        <div class="container my-3">
          <div class="row m-1">
            <div class="col-md-9">
              <div class="row">
               <div class="col-12">
                <h1 class="page-title">Shop</h1>
                <p class="shop-result-count">Showing 1-9 of 15 results</p>
                <form class="shop-ordering" method="get">
                  <select class="orderby" name="orderby">
                    <option selected="selected" value="menu_order">
                      Default sorting
                    </option>
                    <option value="popularity">Sort by popularity</option>
                    <option value="rating">Sort by average rating</option>
                    <option value="date">Sort by newness</option>
                    <option value="price">Sort by price: low to high</option>
                    <option value="price-desc">
                      Sort by price: high to low
                    </option>
                  </select>
                </form>
               </div>

                <!-- <div class="col-12">
                  <div class="row">
                    <div class="col-3" *ngFor="let product of products">
                    
                      <div class="cbp-item product">
                        
                          <div class="shop-first-image">
                            <img
                              alt="image"
                              src="assets/images/shop-product-1.jpg"/>
                          </div>
                          <div class="shop-second-image">
                                          <img alt="image" src="assets/images/shop-product-1-2.jpg" />
                                      </div>
                  
                        
                        <div class="shop-product-details">
                          <div class="shop-product-details-container">
                            <h4 class="shop-product-title">
                              <a href="single-product.html">Armchair</a>
                            </h4>
                            
                            <span class="shop-price"> <span>$</span>35.00</span>
                            <div class="shop-button-box">
                              <a class="button-product" href="#">Add to cart</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="col-12">
                <div class="row">
                <div class="card" style="width: 18rem;" *ngFor="let product of products">
               <div class="cbp-item product">
                <div class="shop-first-image">
                <img [src]="product?.image" class="card-img-top" alt="Product Image">
                
                    <div class="shop-product-details">
                      
                      <h5 class="card-title">{{ product.title }}</h5 >
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>
                      <h2 class="card-title">{{ product.price}}</h2>
                      <a href="#" class="btn btn-secondary mb-0 "  (click)="addToCart(product)">Add to Cart</a>
                      <div class="shop-product-details">
                          <div class="shop-product-details-container">
                           
                            
                            <div class="shop-button-box">
                              
                            </div>
                          </div>
                        </div>
                    </div>
                  </div> 
                </div>
                </div>
              </div>
              </div>
              </div>
                <!-- <div id="grid-shop" class="cbp shop-products" >

                <!-- /product 1 -->

                <!-- product 2 -->

                <!-- /product 2 -->

                <!-- product 3 -->

                <!-- /product 3 -->

                <!-- product 4 -->

                <!-- /product 4 -->

                <!-- product 5 -->

                <!-- </div> -->

                <!-- ajax load button -->

                
                <div class="load-more text-center">
                  <a
                    href="ajax-shop/shop-product.html"
                    class="cbp-l-loadMore-link"
                    rel="nofollow"
                  >
                    <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
                    <span class="cbp-l-loadMore-loadingText"
                      ><span class="glacier-spinner"><i></i></span>LOAD
                      MORE</span
                    >
                    <span class="cbp-l-loadMore-noMoreLoading">NO MORE</span>
                  </a>
                </div>
                <!-- /ajax load button -->
              </div>

              <div class="col-md-3 glacier-padding-left">
                          <div class="sidebar">
                              <div class="sidebar-box">
                                  <h1 class="sidebar-title">Product categories</h1>
                                  <ul class="product-categories">
                                      <li>
                                          <a href="#">Abstract</a>
                                      </li>
                                      <li>
                                          <a href="#">Animation</a>
                                      </li>
                                      <li>
                                          <a href="#">Original Works</a>
                                      </li>
                                      <li>
                                          <a href="#">Illustrations</a>
                                      </li>
                                      <li>
                                          <a href="#">Nature</a>
                                      </li>
                                      
                                  </ul>
                              </div>
                              <div class="sidebar-box">
                                  <h1 class="sidebar-title">Top rated products</h1>
                                  <ul class="sidebar-product-list">
                                      <li>
                                          <a href="single-product.html">
                                              <img alt="image" src="assets/images/shop-products/sinking.jpg" />
                                              <span class="product-title">Sinking Dreams</span>
                                          </a>
                                          <div class="star-rating">
                                              <span style="width:100%">Rated
                                                  <strong class="rating">5.00</strong>
                                                  out of 5</span>
                                          </div>
                                          <span class="shop-price">
                                              <span>GHC</span>150.00
                                          </span>
                                      </li>
                                      <li>
                                          <a href="single-product.html">
                                              <img alt="image" src="assets/images/shop-products/unspoken.jpg" />
                                              <span class="product-title">Unspoken Plea</span>
                                          </a>
                                          <div class="star-rating">
                                              <span style="width:93.4%">Rated
                                                  <strong class="rating">4.67</strong>
                                                  out of 5</span>
                                          </div>
                                          <span class="shop-price">
                                              <span>GHC</span>150.00</span>
                                      </li>
                                      <li>
                                          <a href="single-product.html">
                                              <img alt="image" src="assets/images/shop-products/chaos.jpg" />
                                              <span class="product-title">Chaos or Beauty</span>
                                          </a>
                                          <div class="star-rating">
                                              <span style="width:90%">Rated
                                                  <strong class="rating">4.50</strong>
                                                  out of 5</span>
                                          </div>
                                          <span class="shop-price">
                                              <span>GHC</span>150.00</span>
                                      </li>
                                      <li>
                                          <a href="single-product.html">
                                              <img alt="image" src="assets/images/shop-products/cloud.jpg" />
                                              <span class="product-title">Cloud-9</span>
                                          </a>
                                          <div class="star-rating">
                                              <span style="width:90%">Rated
                                                  <strong class="rating">4.50</strong>
                                                  out of 5</span>
                                          </div>
                                          <del>
                                              <span class="shop-price">
                                                  <span>GHC</span>200.00</span>
                                          </del>
                                          <ins>
                                              <span class="shop-price">
                                                  <span>GHC</span>150.00</span>
                                          </ins>
                                      </li>
                                      <li>
                                          <a href="single-product.html">
                                              <img alt="image" src="assets/images/shop-products/Orange.jpg" />
                                              <span class="product-title">Orange Blossom Bliss</span>
                                          </a>
                                          <div class="star-rating">
                                              <span style="width:80%">Rated
                                                  <strong class="rating">4.00</strong>
                                                  out of 5</span>
                                          </div>
                                          <span class="shop-price">
                                              <span>GHC</span>150</span>
                                      </li>
                                  </ul>
                          </div>
                      </div>
                   </div>
                 </div>
              </div>
            </div>
 
