.bg-teal {
  background: #17a398!important;
} /* You can add global styles to this file, and also import other style files */

.bg-sec {
    background: #002642 !important;
    color: white !important;
}