<div id="wrapper">

    <div class="container">
       <div class="row">
    
          <div class="col-md-7">
             <div class="gallery-projects one">
                <div class="overlay-box">
                   <a href="assets/Creatives/kob.png" title="Tangled" class="showcase" data-rel="lightcase:gallery">
                   <img src="assets/Creatives/kob.png" alt="Tangled" style="width: 700px;">
                   </a>
                </div>
             </div>
          </div>
    
          <div class="col-md-5 single-project">
             <h4 class="title-project">Tangled by Joseph Awumee </h4>

             <p>The photograph "Tangled" captures a moment of chaos and confusion. The image is a close-up of a tangled mass of wires and cables, their colors and textures blending together in a dizzying array of lines and shapes. The wires are twisted and knotted together, creating a sense of depth and movement as the eye tries to make sense of the jumbled mess.</p>

                <p>The photograph evokes a sense of disarray and disorder, as if the wires have been carelessly thrown together without any sense of organization or purpose. The colors are muted and dull, giving the image a sense of dullness and monotony. The tangled wires seem to be in a state of perpetual motion, their twists and turns suggesting a frenzied energy that is impossible to tame.</p>
                
                <p>Despite the chaos of the image, there is a sense of beauty in the photograph. The intricate patterns and shapes created by the wires are mesmerizing, drawing the viewer in and holding their attention. The photograph is a reminder of the complex and ever-changing nature of the world around us, and the constant struggle to make sense of it all..</p>
          
             <div class="project-details">
                <h4>Project details</h4>
                <h5>Author</h5>
                <p>Joseph Awumee </p>

               
                <h5>Project date</h5>
                <p>31 December 2020</p>
                <h5>Project location</h5>
                <p>Accra, Ghana</p>
                <h5>Share</h5>
                <ul class="share-icons">
                    <!-- TWITTER -->
                    <li>
                       <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <!-- FACEBOOK -->
                    <li>
                       <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <!-- PINTEREST -->
                    <li>
                       <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                    <!-- LINKEDIN -->
                    <li>
                       <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <!-- REDDIT -->
                    <li>
                       <a href="#"><i class="fa-brands fa-reddit"></i></a>
                    </li>
                 </ul>
             </div>
          </div>
       </div>
       <!-- NAVIGATION -->
       <div class="portfolio-single-nav">
          <div class="single-navigation">
             <div class="next-button"><a href="portfolio-single-2.html" class="single-link-nav">Next project<i class="fa fa-angle-right"></i></a></div>
          </div>
       </div>
       <!-- END NAVIGATION -->
    </div>
    
    </div>