<div id="wrapper">

    <div class="container">
       <div class="row">
    
          <div class="col-md-7">
             <div class="gallery-projects one">
                <div class="overlay-box">
                   <a href="assets/Creatives/world1.png" title="Castle of Beraku" class="showcase" data-rel="lightcase:gallery">
                   <img src="assets/Creatives/world1.png" alt="Castle of Beraku by WorldBeater" style="width: 700px;">
                   </a>
                </div>
             </div>
          </div>
    
          <div class="col-md-5 single-project">
             <h4 class="title-project">Castle of Beraku by WorldBeater</h4>
             <p>"Castle of Beraku" is a photograph that showcases the natural beauty and cultural heritage of Ghana in a breathtaking and captivating way. The photograph features a view from a castle in Ghana, where you can see many boats and the vast blue sea. The photograph, taken at the Castle of Beraku in Ghana, highlights the rich history and culture of the region and its connection to the sea.</p>
             <p>The photograph is a breathtaking composition that immediately captures the viewer's attention. The castle, which serves as the viewpoint for the photograph, is an ancient structure with a rich history and cultural significance. The castle is perched on a high point that overlooks the sea, providing a panoramic view of the vast blue ocean and the many boats dotting the horizon. The photograph showcases the natural beauty of the sea, with the blue water contrasting beautifully with the sandy shoreline.</p>
             <p>The photograph captures the cultural heritage and history of Ghana. The Castle of Beraku, which serves as the viewpoint for the photograph, is an ancient structure that has played an important role in the region's history. The castle, which dates back to the 17th century, was built by the Dutch and served as a trading post for European traders. The castle played an important role in the region's history, serving as a center of commerce and trade and as a symbol of Ghana's rich cultural heritage.</p>
             <div class="project-details">
                <h4>Project details</h4>
                <h5>Author</h5>
                <p>WorldBeater</p>

               
                <h5>Project date</h5>
                <p>17 January 2019</p>
                <h5>Project location</h5>
                <p>Accra, Ghana</p>
                <h5>Share</h5>
                <ul class="share-icons">
                    <!-- TWITTER -->
                    <li>
                       <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <!-- FACEBOOK -->
                    <li>
                       <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <!-- PINTEREST -->
                    <li>
                       <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                    <!-- LINKEDIN -->
                    <li>
                       <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <!-- REDDIT -->
                    <li>
                       <a href="#"><i class="fa-brands fa-reddit"></i></a>
                    </li>
                 </ul>
             </div>
          </div>
       </div>
       <!-- NAVIGATION -->
       <div class="portfolio-single-nav">
          <div class="single-navigation">
             <div class="next-button"><a href="portfolio-single-2.html" class="single-link-nav">Next project<i class="fa fa-angle-right"></i></a></div>
          </div>
       </div>
       <!-- END NAVIGATION -->
    </div>
    
    </div>